// Imports
@import "../../tools/mixins/mixins.scss";
@import "../../tools/themes/themes.scss";
@import "../../tools/variables/variable.scss";

// Font Families
@font-face {
  font-family: "Poppins Black";
  src: url("../../../fonts/Poppins-Black.ttf");
}
@font-face {
  font-family: "Poppins Bold";
  src: url("../../../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Lato Bold";
  src: url("../../../fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: "Lato Regular";
  src: url("../../../fonts/Lato-Regular.ttf");
}

// Desktop

// Responsive
@media all and (max-width: 1995px) {
}

@media all and (max-width: 991px) {
}

@media (min-width: 992px) {
}

// Desktop Window (Smallest)
@media all and (max-width: 768px) {
}

// Smaller Devices (Phones)
@media all and (max-width: 419px) {
}

// Pixel 2 XL
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

// Ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
}

// iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

// Laptops
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
}
