// Imports
@import "../../tools/mixins/mixins.scss";
@import "../../tools/themes/themes.scss";
@import "../../tools/variables/variable.scss";

// Font Families
@font-face {
  font-family: "Poppins Black";
  src: url("../../../fonts/Poppins-Black.ttf");
}
@font-face {
  font-family: "Poppins Bold";
  src: url("../../../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Lato Bold";
  src: url("../../../fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: "Lato Regular";
  src: url("../../../fonts/Lato-Regular.ttf");
}

// Desktop
.nav_top {
  height: 90px;
  position: relative;

  .bg {
    height: 100%;
    width: 100%;
    @include bGSU(cover, center);
  }

  .nav_top_inner {
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    max-width: 1600px;
    transform: translate(-50%, -50%);

    .nav_top_inner_box {
      .nav_top_inner_row {
        .nav_top_inner_side {
          height: 90px;
          display: flex;
          align-items: center;
        }

        .nav_top_L {
          justify-content: flex-start;

          .nav_top_inner_side_cnt {
            width: 100%;
            max-width: 425px;

            ul {
              @include displayElement(flex, space-between, center);
              font-family: "Lato Bold";

              li {
                font-size: clamp(16px, 17px, 17px);
                cursor: default;
              }
            }
          }
        }
        .nav_top_R {
          justify-content: flex-end;

          .nav_top_inner_side_cnt {
            @include displayElement(flex, flex-end, center);
            width: 100%;
            max-width: 385px;

            button {
              @include displayElement(flex, space-evenly, center);
              width: 100%;
              max-width: 110px;
              margin-right: 35px;
              height: 40px;
              background-color: $BurningOrange;
              font-family: "Lato Bold";
              font-size: clamp(17px, 17px, 17px);
              color: $Gallery;

              &:hover {
                background-color: $BrinkPink;
              }
            }

            ul {
              @include displayElement(flex, space-between, center);
              width: 100%;
              max-width: 65px;

              li {
                font-size: clamp(20px, 21px, 21px);
                color: $BrightGray;
                cursor: pointer;

                &:hover {
                  color: $BrinkPink;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Responsive
@media all and (max-width: 1995px) {
}

@media all and (max-width: 991px) {
  .nav_top {
    .nav_top_inner {
      .nav_top_inner_box {
        .nav_top_inner_row {
          .nav_top_L {
            .nav_top_inner_side_cnt {
              ul {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
}

// Desktop Window (Smallest)
@media all and (max-width: 768px) {
  .nav_top {
    height: 120px;

    .nav_top_inner {
      .nav_top_inner_box {
        .nav_top_inner_row {
          .nav_top_L {
            max-width: 100%;
            width: 100%;
            height: 60px;
            justify-content: center;

            .nav_top_inner_side_cnt {
              justify-content: center;
              @include quickCenter("relative");

              ul {
                display: block;
                text-align: center;

                li {
                  font-size: clamp(14px, 15px, 15px);
                }
              }
            }
          }

          .nav_top_R {
            max-width: 100%;
            width: 100%;
            height: 60px;
            justify-content: center;
            padding-bottom: 5px;

            .nav_top_inner_side_cnt {
              justify-content: center;
              @include quickCenter("relative");

              button {
                max-width: 100px;
                height: 35px;
                font-size: clamp(14px, 15px, 15px);
              }

              ul {
                li {
                  font-size: clamp(20px, 21px, 21px);
                }
              }
            }
          }
        }
      }
    }
  }
}

// Smaller Devices (Phones)
@media all and (max-width: 419px) {
  .nav_top {
    height: 115px;

    .nav_top_inner {
      .nav_top_inner_box {
        .nav_top_inner_row {
          .nav_top_L {
            max-width: 100%;
            width: 100%;
            height: 60px;
            justify-content: center;

            .nav_top_inner_side_cnt {
              justify-content: center;
              @include quickCenter("relative");

              ul {
                display: block;
                text-align: center;

                li {
                  font-size: clamp(13px, 14px, 14px);
                }
              }
            }
          }

          .nav_top_R {
            max-width: 100%;
            width: 100%;
            height: 50px;
            justify-content: center;
            padding-bottom: 5px;

            .nav_top_inner_side_cnt {
              justify-content: center;
              @include quickCenter("relative");

              button {
                max-width: 90px;
                height: 30px;
                margin-right: 20px;
                font-size: clamp(13px, 13px, 13px);
              }

              ul {
                li {
                  font-size: clamp(17px, 17px, 17px);
                }
              }
            }
          }
        }
      }
    }
  }
}

// Pixel 2 XL
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .nav_top {
    height: 65px;

    .nav_top_inner {
      .nav_top_inner_box {
        .nav_top_inner_row {
          .nav_top_L {
            max-width: 50%;
            width: 100%;
            height: 60px;
            justify-content: flex-start;

            .nav_top_inner_side_cnt {
              justify-content: flex-start;
              @include quickCenter("relative");

              ul {
                display: block;
                text-align: left;

                li {
                  font-size: clamp(13px, 14px, 14px);
                }
              }
            }
          }

          .nav_top_R {
            max-width: 50%;
            width: 100%;
            height: 60px;
            justify-content: flex-end;
            padding-bottom: 5px;

            .nav_top_inner_side_cnt {
              justify-content: flex-end;
              @include quickCenter("relative");

              button {
                max-width: 90px;
                height: 30px;
                margin-right: 20px;
                font-size: clamp(13px, 13px, 13px);
              }

              ul {
                li {
                  font-size: clamp(17px, 17px, 17px);
                }
              }
            }
          }
        }
      }
    }
  }
}

// Ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .nav_top {
    height: 75px;

    .nav_top_inner {
      .nav_top_inner_box {
        .nav_top_inner_row {
          .nav_top_L {
            max-width: 50%;
            width: 100%;
            height: 70px;
            justify-content: flex-start;

            .nav_top_inner_side_cnt {
              justify-content: flex-start;
              @include quickCenter("relative");

              ul {
                display: block;
                text-align: left;

                li {
                  font-size: clamp(13px, 14px, 14px);
                }
              }
            }
          }

          .nav_top_R {
            max-width: 50%;
            width: 100%;
            height: 70px;
            justify-content: flex-end;
            padding-bottom: 0px;

            .nav_top_inner_side_cnt {
              justify-content: flex-end;
              @include quickCenter("relative");

              button {
                max-width: 90px;
                height: 30px;
                margin-right: 20px;
                font-size: clamp(13px, 13px, 13px);
              }

              ul {
                li {
                  font-size: clamp(17px, 17px, 17px);
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .nav_top {
    height: 75px;

    .nav_top_inner {
      .nav_top_inner_box {
        .nav_top_inner_row {
          .nav_top_L {
            max-width: 50%;
            width: 100%;
            height: 70px;
            justify-content: flex-start;

            .nav_top_inner_side_cnt {
              justify-content: flex-start;
              @include quickCenter("relative");

              ul {
                display: block;
                text-align: left;

                li {
                  font-size: clamp(13px, 14px, 14px);
                }
              }
            }
          }

          .nav_top_R {
            max-width: 50%;
            width: 100%;
            height: 70px;
            justify-content: flex-end;
            padding-bottom: 0px;

            .nav_top_inner_side_cnt {
              justify-content: flex-end;
              @include quickCenter("relative");

              button {
                max-width: 90px;
                height: 30px;
                margin-right: 20px;
                font-size: clamp(13px, 13px, 13px);
              }

              ul {
                li {
                  font-size: clamp(17px, 17px, 17px);
                }
              }
            }
          }
        }
      }
    }
  }
}

// iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .nav_top {
    height: 85px;

    .nav_top_inner {
      .nav_top_inner_box {
        .nav_top_inner_row {
          .nav_top_L {
            max-width: 50%;
            width: 100%;
            height: 85px;
            justify-content: flex-start;

            .nav_top_inner_side_cnt {
              justify-content: flex-start;
              @include quickCenter("relative");

              ul {
                display: block;
                text-align: left;

                li {
                  font-size: clamp(15px, 16px, 16px);
                }
              }
            }
          }

          .nav_top_R {
            max-width: 50%;
            width: 100%;
            height: 85px;
            justify-content: flex-end;
            padding-bottom: 0px;

            .nav_top_inner_side_cnt {
              justify-content: flex-end;
              @include quickCenter("relative");

              button {
                max-width: 105px;
                height: 40px;
                margin-right: 20px;
                font-size: clamp(14px, 15px, 15px);
              }

              ul {
                li {
                  font-size: clamp(20px, 21px, 21px);
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .nav_top {
    height: 85px;

    .nav_top_inner {
      .nav_top_inner_box {
        .nav_top_inner_row {
          .nav_top_L {
            max-width: 50%;
            width: 100%;
            height: 85px;
            justify-content: flex-start;

            .nav_top_inner_side_cnt {
              justify-content: flex-start;
              @include quickCenter("relative");

              ul {
                display: block;
                text-align: left;

                li {
                  font-size: clamp(15px, 16px, 16px);
                }
              }
            }
          }

          .nav_top_R {
            max-width: 50%;
            width: 100%;
            height: 85px;
            justify-content: flex-end;
            padding-bottom: 0px;

            .nav_top_inner_side_cnt {
              justify-content: flex-end;
              @include quickCenter("relative");

              button {
                max-width: 105px;
                height: 40px;
                margin-right: 20px;
                font-size: clamp(14px, 15px, 15px);
              }

              ul {
                li {
                  font-size: clamp(20px, 21px, 21px);
                }
              }
            }
          }
        }
      }
    }
  }
}

// Laptops
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .nav_top {
    height: 85px;

    .nav_top_inner {
      .nav_top_inner_box {
        .nav_top_inner_row {
          .nav_top_L {
            max-width: 50%;
            width: 100%;
            height: 85px;
            justify-content: flex-start;

            .nav_top_inner_side_cnt {
              justify-content: flex-start;
              @include quickCenter("relative");

              ul {
                display: block;
                text-align: left;

                li {
                  font-size: clamp(15px, 16px, 16px);
                }
              }
            }
          }

          .nav_top_R {
            max-width: 50%;
            width: 100%;
            height: 85px;
            justify-content: flex-end;
            padding-bottom: 0px;

            .nav_top_inner_side_cnt {
              justify-content: flex-end;
              @include quickCenter("relative");

              button {
                max-width: 105px;
                height: 40px;
                margin-right: 20px;
                font-size: clamp(14px, 15px, 15px);
              }

              ul {
                li {
                  font-size: clamp(20px, 21px, 21px);
                }
              }
            }
          }
        }
      }
    }
  }
}
