@font-face {
  font-family: "Poppins Black";
  src: url("../../../fonts/Poppins-Black.ttf");
}
@font-face {
  font-family: "Poppins Bold";
  src: url("../../../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Lato Bold";
  src: url("../../../fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: "Lato Regular";
  src: url("../../../fonts/Lato-Regular.ttf");
}
.contact_top {
  height: 615px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
.contact_top .contact_top_cnt h1 {
  white-space: pre-wrap;
  font-family: "Poppins Bold";
  font-size: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
  text-transform: uppercase;
  line-height: 40px;
  color: #222831;
  margin-bottom: 40px;
}
.contact_top .contact_top_cnt h1 span {
  color: #6639a6;
}
.contact_top .contact_top_cnt p {
  white-space: pre-wrap;
  font-family: "Lato Regular";
  font-size: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  color: #222831;
  margin-top: 20px;
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
  max-width: 890px;
}
.contact_top .contact_top_cnt .contact_top_cnt_btns {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact_top .contact_top_cnt .contact_top_cnt_btns button {
  height: 45px;
  font-family: "Lato Bold";
  font-size: 19px;
  background-color: #645caa;
  color: #eeeeee;
  width: 100%;
}
.contact_top .contact_top_cnt .contact_top_cnt_btns button:hover {
  background-color: #6639a6;
}
.contact_top .contact_top_cnt .contact_top_cnt_btns .contact_form_btn {
  max-width: 155px;
}
.contact_top .contact_top_cnt .contact_top_cnt_btns .adopt_form_btn {
  max-width: 170px;
}

.contact_form {
  display: block;
  margin-bottom: 250px;
}
.contact_form .contact_form_cnt {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}
.contact_form .contact_form_cnt h1 {
  white-space: pre-wrap;
  font-family: "Poppins Bold";
  font-size: clamp(2.5rem, 2.8vw, 2.8rem);
  text-transform: uppercase;
  line-height: 40px;
  color: #222831;
  margin-bottom: 40px;
  text-align: center;
}
.contact_form .contact_form_cnt .form_notice {
  white-space: pre-wrap;
  font-family: "Lato Bold";
  font-size: 16px;
  line-height: 40px;
  color: #222831;
  margin-bottom: 40px;
  text-align: center;
  display: block;
}
.contact_form .contact_form_cnt form .form_box .form_row .form_side {
  height: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contact_form .contact_form_cnt form .form_box .form_row .form_side .form_side_cnt {
  max-width: 97%;
  text-align: left;
}
.contact_form .contact_form_cnt form .form_box .form_row .form_side_R {
  justify-content: flex-end;
}
.contact_form .contact_form_cnt form .form_box .single_row {
  margin-bottom: 25px;
}
.contact_form .contact_form_cnt form .form_box .single_row .form_side {
  width: 100%;
  max-width: 100%;
}
.contact_form .contact_form_cnt form .form_box .single_row .form_side .form_side_cnt {
  display: block;
  width: 100%;
  max-width: 100%;
}
.contact_form .contact_form_cnt form .form_box .single_row .form_side .form_side_cnt label {
  font-family: "Lato Bold";
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  color: #645caa;
  display: block;
  cursor: pointer;
  white-space: pre-wrap;
}
.contact_form .contact_form_cnt form .form_box .single_row .form_side .form_side_cnt label span {
  font-size: 15px;
}
.contact_form .contact_form_cnt form .form_box .single_row .form_side .form_side_cnt input {
  height: 35px;
  background-color: #eeeeee;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: "Lato Regular";
}
.contact_form .contact_form_cnt form .form_box .single_row .form_side .form_side_cnt textarea {
  height: 115px;
  background-color: #eeeeee;
  width: 100%;
  margin-top: 15px;
  border-radius: 5px;
  padding: 8px;
  font-family: "Lato Regular";
  resize: none;
}
.contact_form .contact_form_cnt form .form_box .double_row .form_side {
  max-width: 50%;
  width: 100%;
}
.contact_form .contact_form_cnt form .form_box .double_row .form_side .form_side_cnt {
  display: block;
  width: 100%;
}
.contact_form .contact_form_cnt form .form_box .double_row .form_side .form_side_cnt label {
  font-family: "Lato Bold";
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  color: #645caa;
  display: block;
  cursor: pointer;
}
.contact_form .contact_form_cnt form .form_box .double_row .form_side .form_side_cnt label span {
  font-size: 15px;
}
.contact_form .contact_form_cnt form .form_box .double_row .form_side .form_side_cnt input {
  height: 35px;
  background-color: #eeeeee;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: "Lato Regular";
}
.contact_form .contact_form_cnt form .form_btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}
.contact_form .contact_form_cnt form .form_btns button {
  height: 45px;
  color: #eeeeee;
  font-family: "Lato Bold";
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
}
.contact_form .contact_form_cnt form .form_btns .send {
  background-color: #645caa;
  width: 100%;
  max-width: 80px;
}
.contact_form .contact_form_cnt form .form_btns .send:hover {
  background-color: #6639a6;
}
.contact_form .contact_form_cnt form .form_btns .reset {
  background-color: #3d84a8;
  width: 100%;
  max-width: 80px;
}
.contact_form .contact_form_cnt form .form_btns .reset:hover {
  background-color: #07689f;
}

.contact_adopt_form {
  display: none;
  margin-bottom: 250px;
}
.contact_adopt_form .contact_adopt_form_cnt {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}
.contact_adopt_form .contact_adopt_form_cnt h1 {
  white-space: pre-wrap;
  font-family: "Poppins Bold";
  font-size: clamp(2.5rem, 2.8vw, 2.8rem);
  text-transform: uppercase;
  line-height: 40px;
  color: #222831;
  margin-bottom: 40px;
  text-align: center;
}
.contact_adopt_form .contact_adopt_form_cnt .form_notice {
  white-space: pre-wrap;
  font-family: "Lato Bold";
  font-size: 16px;
  line-height: 40px;
  color: #222831;
  margin-bottom: 40px;
  text-align: center;
  display: block;
}
.contact_adopt_form .contact_adopt_form_cnt form .form_box .form_row .form_side {
  height: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contact_adopt_form .contact_adopt_form_cnt form .form_box .form_row .form_side .form_side_cnt {
  max-width: 97%;
  text-align: left;
}
.contact_adopt_form .contact_adopt_form_cnt form .form_box .form_row .form_side_R {
  justify-content: flex-end;
}
.contact_adopt_form .contact_adopt_form_cnt form .form_box .single_row {
  margin-top: 30px;
  margin-bottom: 0px;
}
.contact_adopt_form .contact_adopt_form_cnt form .form_box .single_row .form_side {
  width: 100%;
  max-width: 100%;
}
.contact_adopt_form .contact_adopt_form_cnt form .form_box .single_row .form_side .form_side_cnt {
  display: block;
  width: 100%;
  max-width: 100%;
}
.contact_adopt_form .contact_adopt_form_cnt form .form_box .single_row .form_side .form_side_cnt label {
  font-family: "Lato Bold";
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  color: #645caa;
  display: block;
  cursor: pointer;
}
.contact_adopt_form .contact_adopt_form_cnt form .form_box .single_row .form_side .form_side_cnt label span {
  font-size: 15px;
}
.contact_adopt_form .contact_adopt_form_cnt form .form_box .single_row .form_side .form_side_cnt select {
  height: 35px;
  background-color: #eeeeee;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: "Lato Regular";
}
.contact_adopt_form .contact_adopt_form_cnt form .form_box .single_row .form_side .form_side_cnt input {
  height: 35px;
  background-color: #eeeeee;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: "Lato Regular";
}
.contact_adopt_form .contact_adopt_form_cnt form .form_box .single_row .form_side .form_side_cnt textarea {
  height: 115px;
  background-color: #eeeeee;
  width: 100%;
  margin-top: 15px;
  border-radius: 5px;
  padding: 8px;
  font-family: "Lato Regular";
  resize: none;
}
.contact_adopt_form .contact_adopt_form_cnt form .form_box .double_row .form_side {
  max-width: 50%;
  width: 100%;
}
.contact_adopt_form .contact_adopt_form_cnt form .form_box .double_row .form_side .form_side_cnt {
  display: block;
  width: 100%;
}
.contact_adopt_form .contact_adopt_form_cnt form .form_box .double_row .form_side .form_side_cnt label {
  font-family: "Lato Bold";
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  color: #645caa;
  display: block;
  cursor: pointer;
}
.contact_adopt_form .contact_adopt_form_cnt form .form_box .double_row .form_side .form_side_cnt label span {
  font-size: 15px;
}
.contact_adopt_form .contact_adopt_form_cnt form .form_box .double_row .form_side .form_side_cnt select {
  height: 35px;
  background-color: #eeeeee;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: "Lato Regular";
}
.contact_adopt_form .contact_adopt_form_cnt form .form_box .double_row .form_side .form_side_cnt input {
  height: 35px;
  background-color: #eeeeee;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: "Lato Regular";
}
.contact_adopt_form .contact_adopt_form_cnt form .form_btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}
.contact_adopt_form .contact_adopt_form_cnt form .form_btns button {
  height: 45px;
  color: #eeeeee;
  font-family: "Lato Bold";
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
}
.contact_adopt_form .contact_adopt_form_cnt form .form_btns .send {
  background-color: #645caa;
  width: 100%;
  max-width: 80px;
}
.contact_adopt_form .contact_adopt_form_cnt form .form_btns .send:hover {
  background-color: #6639a6;
}
.contact_adopt_form .contact_adopt_form_cnt form .form_btns .reset {
  background-color: #3d84a8;
  width: 100%;
  max-width: 80px;
}
.contact_adopt_form .contact_adopt_form_cnt form .form_btns .reset:hover {
  background-color: #07689f;
}

@media all and (max-width: 1995px) {
  .contact_top {
    height: 470px;
  }
  .contact_top .contact_top_cnt {
    max-width: 900px;
  }
  .contact_top .contact_top_cnt h1 {
    font-size: 59px;
    line-height: 30px;
  }
  .contact_top .contact_top_cnt p {
    font-size: 23px;
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
  }
  .contact_form,
  .contact_adopt_form {
    margin-bottom: 95px;
  }
  .contact_form .contact_form_cnt,
  .contact_form .contact_adopt_form_cnt,
  .contact_adopt_form .contact_form_cnt,
  .contact_adopt_form .contact_adopt_form_cnt {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 780px;
  }
  .contact_form .contact_form_cnt h1,
  .contact_form .contact_adopt_form_cnt h1,
  .contact_adopt_form .contact_form_cnt h1,
  .contact_adopt_form .contact_adopt_form_cnt h1 {
    font-size: 32px;
  }
  .contact_form .contact_form_cnt .form_notice,
  .contact_form .contact_adopt_form_cnt .form_notice,
  .contact_adopt_form .contact_form_cnt .form_notice,
  .contact_adopt_form .contact_adopt_form_cnt .form_notice {
    font-size: 16px;
  }
  .contact_form .contact_form_cnt form .form_box .double_row .form_side,
  .contact_form .contact_adopt_form_cnt form .form_box .double_row .form_side,
  .contact_adopt_form .contact_form_cnt form .form_box .double_row .form_side,
  .contact_adopt_form .contact_adopt_form_cnt form .form_box .double_row .form_side {
    max-width: 50%;
  }
  .contact_form .contact_form_cnt form .form_box .single_row,
  .contact_form .contact_adopt_form_cnt form .form_box .single_row,
  .contact_adopt_form .contact_form_cnt form .form_box .single_row,
  .contact_adopt_form .contact_adopt_form_cnt form .form_box .single_row {
    margin-bottom: 5px;
  }
  .contact_form .contact_form_cnt form .form_box .single_row:last-child,
  .contact_form .contact_adopt_form_cnt form .form_box .single_row:last-child,
  .contact_adopt_form .contact_form_cnt form .form_box .single_row:last-child,
  .contact_adopt_form .contact_adopt_form_cnt form .form_box .single_row:last-child {
    margin-top: 30px;
  }
  .contact_form .contact_form_cnt form .form_btns,
  .contact_form .contact_adopt_form_cnt form .form_btns,
  .contact_adopt_form .contact_form_cnt form .form_btns,
  .contact_adopt_form .contact_adopt_form_cnt form .form_btns {
    margin-top: 50px;
  }
  .contact_form .contact_form_cnt form .form_box .single_row .form_side_L .form_side_cnt input {
    margin-bottom: 5px;
  }
  .contact_form .contact_form_cnt form .form_box .message_row {
    margin-top: 0;
  }
}
@media all and (max-width: 991px) {
  .contact_top {
    height: 470px;
  }
  .contact_top .contact_top_cnt {
    max-width: 600px;
  }
  .contact_top .contact_top_cnt h1 {
    font-size: clamp(3rem, 4vw, 4rem);
    line-height: 48px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .contact_top .contact_top_cnt p {
    font-size: 21px;
    margin-left: auto;
    margin-right: auto;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns button {
    height: 40px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns .contact_form_btn {
    max-width: 140px;
    font-size: 18px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns .adopt_form_btn {
    max-width: 150px;
    font-size: 18px;
  }
  .contact_form {
    margin-bottom: 100px;
  }
  .contact_form .contact_form_cnt {
    max-width: 650px;
  }
  .contact_form .contact_form_cnt h1 {
    font-size: clamp(1.5rem, 2vw, 2rem);
    line-height: 48px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .contact_form .contact_form_cnt .form_notice {
    margin-bottom: 20px;
  }
  .contact_form .contact_form_cnt form .form_box .form_row .form_side {
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
  }
  .contact_form .contact_form_cnt form .form_box .form_row .form_side .form_side_cnt {
    max-width: 100%;
  }
  .contact_form .contact_form_cnt form .form_box .form_row .form_side_L {
    max-width: 100%;
    width: 100%;
  }
  .contact_form .contact_form_cnt form .form_box .form_row .form_side_R {
    max-width: 100%;
    width: 100%;
  }
  .contact_form .contact_form_cnt form .form_box .double_row .form_side_L {
    max-width: 100%;
    width: 100%;
  }
  .contact_form .contact_form_cnt form .form_box .double_row .form_side_R {
    max-width: 100%;
    width: 100%;
    justify-content: flex-start;
  }
  .contact_adopt_form {
    margin-bottom: 100px;
  }
  .contact_adopt_form .contact_adopt_form_cnt {
    max-width: 650px;
  }
  .contact_adopt_form .contact_adopt_form_cnt h1 {
    font-size: clamp(1.5rem, 2vw, 2rem);
    line-height: 48px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .contact_adopt_form .contact_adopt_form_cnt .form_notice {
    margin-bottom: 20px;
  }
  .contact_adopt_form .contact_adopt_form_cnt form .form_box .form_row .form_side {
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
  }
  .contact_adopt_form .contact_adopt_form_cnt form .form_box .form_row .form_side .form_side_cnt {
    max-width: 100%;
  }
  .contact_adopt_form .contact_adopt_form_cnt form .form_box .form_row .form_side_L {
    max-width: 100%;
    width: 100%;
  }
  .contact_adopt_form .contact_adopt_form_cnt form .form_box .form_row .form_side_R {
    max-width: 100%;
    width: 100%;
  }
  .contact_adopt_form .contact_adopt_form_cnt form .form_box .double_row .form_side_L {
    max-width: 100%;
    width: 100%;
  }
  .contact_adopt_form .contact_adopt_form_cnt form .form_box .double_row .form_side_R {
    max-width: 100%;
    width: 100%;
    justify-content: flex-start;
  }
}
@media all and (max-width: 768px) {
  .contact_top {
    height: 450px;
  }
  .contact_top .contact_top_cnt {
    max-width: 600px;
  }
  .contact_top .contact_top_cnt h1 {
    font-size: clamp(2rem, 3vw, 3rem);
    line-height: 35px;
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
  }
  .contact_top .contact_top_cnt p {
    font-size: 19px;
    margin-left: auto;
    margin-right: auto;
    max-width: 380px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns button {
    height: 40px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns .contact_form_btn {
    max-width: 125px;
    font-size: 16px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns .adopt_form_btn {
    max-width: 140px;
    font-size: 16px;
  }
  .contact_form .contact_form_cnt,
  .contact_form .contact_adopt_form_cnt,
  .contact_adopt_form .contact_form_cnt,
  .contact_adopt_form .contact_adopt_form_cnt {
    padding-left: 20px;
    padding-right: 20px;
  }
  .contact_form .contact_form_cnt form .form_box .single_row:last-child,
  .contact_form .contact_adopt_form_cnt form .form_box .single_row:last-child,
  .contact_adopt_form .contact_form_cnt form .form_box .single_row:last-child,
  .contact_adopt_form .contact_adopt_form_cnt form .form_box .single_row:last-child {
    margin-top: 0px;
  }
  .contact_form .contact_form_cnt form .form_box .single_row {
    margin-bottom: 5px;
  }
}
@media all and (max-width: 419px) {
  .contact_top {
    height: 380px;
  }
  .contact_top .contact_top_cnt {
    max-width: 300px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .contact_top .contact_top_cnt h1 {
    font-size: clamp(1.6rem, 2vw, 2rem);
    line-height: 28px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .contact_top .contact_top_cnt p {
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    max-width: 380px;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns {
    display: grid;
    max-width: 200px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns button {
    height: 40px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns .contact_form_btn {
    margin-left: auto;
    margin-right: auto;
    width: 125px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns .adopt_form_btn {
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    font-size: 16px;
  }
  .contact_form,
  .contact_adopt_form {
    margin-bottom: 55px;
  }
  .contact_form .contact_form_cnt,
  .contact_form .contact_adopt_form_cnt,
  .contact_adopt_form .contact_form_cnt,
  .contact_adopt_form .contact_adopt_form_cnt {
    padding-left: 20px;
    padding-right: 20px;
  }
  .contact_form .contact_form_cnt .form_notice,
  .contact_form .contact_adopt_form_cnt .form_notice,
  .contact_adopt_form .contact_form_cnt .form_notice,
  .contact_adopt_form .contact_adopt_form_cnt .form_notice {
    font-size: 13px;
  }
  .contact_form .contact_form_cnt form .form_box .single_row:last-child,
  .contact_form .contact_adopt_form_cnt form .form_box .single_row:last-child,
  .contact_adopt_form .contact_form_cnt form .form_box .single_row:last-child,
  .contact_adopt_form .contact_adopt_form_cnt form .form_box .single_row:last-child {
    margin-top: 0px;
  }
  .contact_form .contact_form_cnt form .form_btns,
  .contact_form .contact_adopt_form_cnt form .form_btns,
  .contact_adopt_form .contact_form_cnt form .form_btns,
  .contact_adopt_form .contact_adopt_form_cnt form .form_btns {
    margin-top: 20px;
  }
  .contact_form .contact_form_cnt form .form_box .single_row .form_side_L .form_side_cnt input {
    margin-bottom: 5px;
  }
  .contact_form .contact_form_cnt form .form_box .message_row {
    margin-top: 0;
  }
}
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .contact_top {
    height: 240px;
  }
  .contact_top .contact_top_cnt {
    padding-left: 25px;
    padding-right: 25px;
    max-width: 100%;
  }
  .contact_top .contact_top_cnt h1 {
    font-size: clamp(1.7rem, 2vw, 2rem);
    line-height: 15px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .contact_top .contact_top_cnt p {
    font-size: 16px;
    max-width: 410px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns {
    display: flex;
    max-width: 300px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns button {
    height: 40px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns .contact_form_btn {
    margin-left: auto;
    margin-right: auto;
    width: 125px;
    font-size: 17px;
    margin-bottom: 0px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns .adopt_form_btn {
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    font-size: 17px;
  }
  .contact_form,
  .contact_adopt_form {
    margin-bottom: 55px;
  }
  .contact_form .contact_form_cnt,
  .contact_form .contact_adopt_form_cnt,
  .contact_adopt_form .contact_form_cnt,
  .contact_adopt_form .contact_adopt_form_cnt {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 500px;
  }
  .contact_form .contact_form_cnt .form_notice,
  .contact_form .contact_adopt_form_cnt .form_notice,
  .contact_adopt_form .contact_form_cnt .form_notice,
  .contact_adopt_form .contact_adopt_form_cnt .form_notice {
    font-size: 13px;
  }
  .contact_form .contact_form_cnt form .form_box .single_row:last-child,
  .contact_form .contact_adopt_form_cnt form .form_box .single_row:last-child,
  .contact_adopt_form .contact_form_cnt form .form_box .single_row:last-child,
  .contact_adopt_form .contact_adopt_form_cnt form .form_box .single_row:last-child {
    margin-top: 0px;
  }
  .contact_form .contact_form_cnt form .form_btns,
  .contact_form .contact_adopt_form_cnt form .form_btns,
  .contact_adopt_form .contact_form_cnt form .form_btns,
  .contact_adopt_form .contact_adopt_form_cnt form .form_btns {
    margin-top: 20px;
  }
  .contact_form .contact_form_cnt form .form_box .single_row .form_side_L .form_side_cnt input {
    margin-bottom: 5px;
  }
  .contact_form .contact_form_cnt form .form_box .message_row {
    margin-top: 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .contact_top {
    height: 380px;
  }
  .contact_top .contact_top_cnt {
    padding-left: 25px;
    padding-right: 25px;
    max-width: 100%;
  }
  .contact_top .contact_top_cnt h1 {
    font-size: 34px;
    line-height: 18px;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
  }
  .contact_top .contact_top_cnt p {
    font-size: 17px;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 30px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns {
    display: flex;
    max-width: 300px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns button {
    height: 40px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns .contact_form_btn {
    margin-left: auto;
    margin-right: auto;
    width: 125px;
    font-size: 17px;
    margin-bottom: 0px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns .adopt_form_btn {
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    font-size: 17px;
  }
  .contact_form,
  .contact_adopt_form {
    margin-bottom: 95px;
  }
  .contact_form .contact_form_cnt,
  .contact_form .contact_adopt_form_cnt,
  .contact_adopt_form .contact_form_cnt,
  .contact_adopt_form .contact_adopt_form_cnt {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 610px;
  }
  .contact_form .contact_form_cnt .form_notice,
  .contact_form .contact_adopt_form_cnt .form_notice,
  .contact_adopt_form .contact_form_cnt .form_notice,
  .contact_adopt_form .contact_adopt_form_cnt .form_notice {
    font-size: 13px;
  }
  .contact_form .contact_form_cnt form .form_box .double_row .form_side,
  .contact_form .contact_adopt_form_cnt form .form_box .double_row .form_side,
  .contact_adopt_form .contact_form_cnt form .form_box .double_row .form_side,
  .contact_adopt_form .contact_adopt_form_cnt form .form_box .double_row .form_side {
    max-width: 50%;
  }
  .contact_form .contact_form_cnt form .form_box .single_row:last-child,
  .contact_form .contact_adopt_form_cnt form .form_box .single_row:last-child,
  .contact_adopt_form .contact_form_cnt form .form_box .single_row:last-child,
  .contact_adopt_form .contact_adopt_form_cnt form .form_box .single_row:last-child {
    margin-top: 0px;
  }
  .contact_form .contact_form_cnt form .form_btns,
  .contact_form .contact_adopt_form_cnt form .form_btns,
  .contact_adopt_form .contact_form_cnt form .form_btns,
  .contact_adopt_form .contact_adopt_form_cnt form .form_btns {
    margin-top: 20px;
  }
  .contact_form .contact_form_cnt form .form_box .single_row .form_side_L .form_side_cnt input {
    margin-bottom: 5px;
  }
  .contact_form .contact_form_cnt form .form_box .message_row {
    margin-top: 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .contact_top {
    height: 340px;
  }
  .contact_top .contact_top_cnt {
    padding-left: 25px;
    padding-right: 25px;
    max-width: 100%;
  }
  .contact_top .contact_top_cnt h1 {
    font-size: 34px;
    line-height: 19px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .contact_top .contact_top_cnt p {
    font-size: 17px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns {
    display: flex;
    max-width: 300px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns button {
    height: 40px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns .contact_form_btn {
    margin-left: auto;
    margin-right: auto;
    width: 125px;
    font-size: 17px;
    margin-bottom: 0px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns .adopt_form_btn {
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    font-size: 17px;
  }
  .contact_form,
  .contact_adopt_form {
    margin-bottom: 75px;
  }
  .contact_form .contact_form_cnt,
  .contact_form .contact_adopt_form_cnt,
  .contact_adopt_form .contact_form_cnt,
  .contact_adopt_form .contact_adopt_form_cnt {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 610px;
  }
  .contact_form .contact_form_cnt h1,
  .contact_form .contact_adopt_form_cnt h1,
  .contact_adopt_form .contact_form_cnt h1,
  .contact_adopt_form .contact_adopt_form_cnt h1 {
    font-size: 28px;
  }
  .contact_form .contact_form_cnt .form_notice,
  .contact_form .contact_adopt_form_cnt .form_notice,
  .contact_adopt_form .contact_form_cnt .form_notice,
  .contact_adopt_form .contact_adopt_form_cnt .form_notice {
    font-size: 15px;
  }
  .contact_form .contact_form_cnt form .form_box .double_row .form_side,
  .contact_form .contact_adopt_form_cnt form .form_box .double_row .form_side,
  .contact_adopt_form .contact_form_cnt form .form_box .double_row .form_side,
  .contact_adopt_form .contact_adopt_form_cnt form .form_box .double_row .form_side {
    max-width: 50%;
  }
  .contact_form .contact_form_cnt form .form_box .single_row,
  .contact_form .contact_adopt_form_cnt form .form_box .single_row,
  .contact_adopt_form .contact_form_cnt form .form_box .single_row,
  .contact_adopt_form .contact_adopt_form_cnt form .form_box .single_row {
    margin-bottom: 5px;
  }
  .contact_form .contact_form_cnt form .form_box .single_row:last-child,
  .contact_form .contact_adopt_form_cnt form .form_box .single_row:last-child,
  .contact_adopt_form .contact_form_cnt form .form_box .single_row:last-child,
  .contact_adopt_form .contact_adopt_form_cnt form .form_box .single_row:last-child {
    margin-top: 0px;
  }
  .contact_form .contact_form_cnt form .form_btns,
  .contact_form .contact_adopt_form_cnt form .form_btns,
  .contact_adopt_form .contact_form_cnt form .form_btns,
  .contact_adopt_form .contact_adopt_form_cnt form .form_btns {
    margin-top: 30px;
  }
  .contact_form .contact_form_cnt form .form_box .single_row .form_side_L .form_side_cnt input {
    margin-bottom: 5px;
  }
  .contact_form .contact_form_cnt form .form_box .message_row {
    margin-top: 0;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .contact_top {
    height: 390px;
  }
  .contact_top .contact_top_cnt {
    padding-left: 25px;
    padding-right: 25px;
    max-width: 100%;
  }
  .contact_top .contact_top_cnt h1 {
    font-size: 37px;
    line-height: 20px;
    max-width: 555px;
    margin-left: auto;
    margin-right: auto;
  }
  .contact_top .contact_top_cnt p {
    font-size: 18px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns {
    display: flex;
    max-width: 300px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns button {
    height: 40px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns .contact_form_btn {
    margin-left: auto;
    margin-right: auto;
    width: 125px;
    font-size: 17px;
    margin-bottom: 0px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns .adopt_form_btn {
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    font-size: 17px;
  }
  .contact_form,
  .contact_adopt_form {
    margin-bottom: 95px;
  }
  .contact_form .contact_form_cnt,
  .contact_form .contact_adopt_form_cnt,
  .contact_adopt_form .contact_form_cnt,
  .contact_adopt_form .contact_adopt_form_cnt {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 610px;
  }
  .contact_form .contact_form_cnt h1,
  .contact_form .contact_adopt_form_cnt h1,
  .contact_adopt_form .contact_form_cnt h1,
  .contact_adopt_form .contact_adopt_form_cnt h1 {
    font-size: 32px;
  }
  .contact_form .contact_form_cnt .form_notice,
  .contact_form .contact_adopt_form_cnt .form_notice,
  .contact_adopt_form .contact_form_cnt .form_notice,
  .contact_adopt_form .contact_adopt_form_cnt .form_notice {
    font-size: 16px;
  }
  .contact_form .contact_form_cnt form .form_box .double_row .form_side,
  .contact_form .contact_adopt_form_cnt form .form_box .double_row .form_side,
  .contact_adopt_form .contact_form_cnt form .form_box .double_row .form_side,
  .contact_adopt_form .contact_adopt_form_cnt form .form_box .double_row .form_side {
    max-width: 50%;
  }
  .contact_form .contact_form_cnt form .form_box .single_row:last-child,
  .contact_form .contact_adopt_form_cnt form .form_box .single_row:last-child,
  .contact_adopt_form .contact_form_cnt form .form_box .single_row:last-child,
  .contact_adopt_form .contact_adopt_form_cnt form .form_box .single_row:last-child {
    margin-top: 30px;
  }
  .contact_form .contact_form_cnt form .form_btns,
  .contact_form .contact_adopt_form_cnt form .form_btns,
  .contact_adopt_form .contact_form_cnt form .form_btns,
  .contact_adopt_form .contact_adopt_form_cnt form .form_btns {
    margin-top: 50px;
  }
  .contact_form .contact_form_cnt form .form_box .single_row .form_side_L .form_side_cnt input {
    margin-bottom: 5px;
  }
  .contact_form .contact_form_cnt form .form_box .message_row {
    margin-top: 0;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .contact_top {
    height: 390px;
  }
  .contact_top .contact_top_cnt {
    padding-left: 25px;
    padding-right: 25px;
    max-width: 100%;
  }
  .contact_top .contact_top_cnt h1 {
    font-size: 38px;
    line-height: 20px;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
  .contact_top .contact_top_cnt p {
    font-size: 18px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns {
    display: flex;
    max-width: 300px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns button {
    height: 40px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns .contact_form_btn {
    margin-left: auto;
    margin-right: auto;
    width: 125px;
    font-size: 17px;
    margin-bottom: 0px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns .adopt_form_btn {
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    font-size: 17px;
  }
  .contact_form,
  .contact_adopt_form {
    margin-bottom: 95px;
  }
  .contact_form .contact_form_cnt,
  .contact_form .contact_adopt_form_cnt,
  .contact_adopt_form .contact_form_cnt,
  .contact_adopt_form .contact_adopt_form_cnt {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 610px;
  }
  .contact_form .contact_form_cnt h1,
  .contact_form .contact_adopt_form_cnt h1,
  .contact_adopt_form .contact_form_cnt h1,
  .contact_adopt_form .contact_adopt_form_cnt h1 {
    font-size: 32px;
  }
  .contact_form .contact_form_cnt .form_notice,
  .contact_form .contact_adopt_form_cnt .form_notice,
  .contact_adopt_form .contact_form_cnt .form_notice,
  .contact_adopt_form .contact_adopt_form_cnt .form_notice {
    font-size: 16px;
  }
  .contact_form .contact_form_cnt form .form_box .double_row .form_side,
  .contact_form .contact_adopt_form_cnt form .form_box .double_row .form_side,
  .contact_adopt_form .contact_form_cnt form .form_box .double_row .form_side,
  .contact_adopt_form .contact_adopt_form_cnt form .form_box .double_row .form_side {
    max-width: 50%;
  }
  .contact_form .contact_form_cnt form .form_box .single_row,
  .contact_form .contact_adopt_form_cnt form .form_box .single_row,
  .contact_adopt_form .contact_form_cnt form .form_box .single_row,
  .contact_adopt_form .contact_adopt_form_cnt form .form_box .single_row {
    margin-bottom: 5px;
  }
  .contact_form .contact_form_cnt form .form_box .single_row:last-child,
  .contact_form .contact_adopt_form_cnt form .form_box .single_row:last-child,
  .contact_adopt_form .contact_form_cnt form .form_box .single_row:last-child,
  .contact_adopt_form .contact_adopt_form_cnt form .form_box .single_row:last-child {
    margin-top: 30px;
  }
  .contact_form .contact_form_cnt form .form_btns,
  .contact_form .contact_adopt_form_cnt form .form_btns,
  .contact_adopt_form .contact_form_cnt form .form_btns,
  .contact_adopt_form .contact_adopt_form_cnt form .form_btns {
    margin-top: 50px;
  }
  .contact_form .contact_form_cnt form .form_box .single_row .form_side_L .form_side_cnt input {
    margin-bottom: 5px;
  }
  .contact_form .contact_form_cnt form .form_box .message_row {
    margin-top: 0;
  }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .contact_top {
    height: 440px;
  }
  .contact_top .contact_top_cnt {
    padding-left: 25px;
    padding-right: 25px;
    max-width: 100%;
  }
  .contact_top .contact_top_cnt h1 {
    font-size: 46px;
    line-height: 33px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .contact_top .contact_top_cnt p {
    font-size: 20px;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns {
    display: flex;
    max-width: 350px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns button {
    height: 40px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns .contact_form_btn {
    margin-left: auto;
    margin-right: auto;
    width: 135px;
    font-size: 17px;
    margin-bottom: 0px;
  }
  .contact_top .contact_top_cnt .contact_top_cnt_btns .adopt_form_btn {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    font-size: 17px;
  }
  .contact_form,
  .contact_adopt_form {
    margin-bottom: 95px;
  }
  .contact_form .contact_form_cnt,
  .contact_form .contact_adopt_form_cnt,
  .contact_adopt_form .contact_form_cnt,
  .contact_adopt_form .contact_adopt_form_cnt {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 780px;
  }
  .contact_form .contact_form_cnt h1,
  .contact_form .contact_adopt_form_cnt h1,
  .contact_adopt_form .contact_form_cnt h1,
  .contact_adopt_form .contact_adopt_form_cnt h1 {
    font-size: 32px;
  }
  .contact_form .contact_form_cnt .form_notice,
  .contact_form .contact_adopt_form_cnt .form_notice,
  .contact_adopt_form .contact_form_cnt .form_notice,
  .contact_adopt_form .contact_adopt_form_cnt .form_notice {
    font-size: 16px;
  }
  .contact_form .contact_form_cnt form .form_box .double_row .form_side,
  .contact_form .contact_adopt_form_cnt form .form_box .double_row .form_side,
  .contact_adopt_form .contact_form_cnt form .form_box .double_row .form_side,
  .contact_adopt_form .contact_adopt_form_cnt form .form_box .double_row .form_side {
    max-width: 50%;
  }
  .contact_form .contact_form_cnt form .form_box .single_row,
  .contact_form .contact_adopt_form_cnt form .form_box .single_row,
  .contact_adopt_form .contact_form_cnt form .form_box .single_row,
  .contact_adopt_form .contact_adopt_form_cnt form .form_box .single_row {
    margin-bottom: 5px;
  }
  .contact_form .contact_form_cnt form .form_box .single_row:last-child,
  .contact_form .contact_adopt_form_cnt form .form_box .single_row:last-child,
  .contact_adopt_form .contact_form_cnt form .form_box .single_row:last-child,
  .contact_adopt_form .contact_adopt_form_cnt form .form_box .single_row:last-child {
    margin-top: 30px;
  }
  .contact_form .contact_form_cnt form .form_btns,
  .contact_form .contact_adopt_form_cnt form .form_btns,
  .contact_adopt_form .contact_form_cnt form .form_btns,
  .contact_adopt_form .contact_adopt_form_cnt form .form_btns {
    margin-top: 50px;
  }
  .contact_form .contact_form_cnt form .form_box .single_row .form_side_L .form_side_cnt input {
    margin-bottom: 5px;
  }
  .contact_form .contact_form_cnt form .form_box .message_row {
    margin-top: 0;
  }
}/*# sourceMappingURL=Contact.module.css.map */