html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  // background: rgb(16, 16, 22);
  // background: linear-gradient(
  //   90deg,
  //   rgba(16, 16, 22, 1) 0%,
  //   rgba(0, 0, 0, 1) 100%,
  //   rgba(0, 212, 255, 1) 100%
  // );
  //   background: rgb(0, 0, 0);
  //   background: linear-gradient(
  //     90deg,
  //     rgba(0, 0, 0, 1) 0%,
  //     rgba(19, 14, 14, 1) 94%
  //   );
  //   background-color: #fafafa;
}
html {
  //   cursor: url(https://raw.githubusercontent.com/mxrked/Codingthefront_CDN/main/icons/custom-cursor.png),
  //     default;
  //   pointer-events: auto;
  scroll-behavior: smooth;
  // overflow: hidden; //! For some reason, this fixes the scrolling when mobile nav is opened issue
  // white-space: nowrap;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  background-color: rgba(243, 243, 240, 0.238);
  // line-height: 1;
  overflow: hidden;
  white-space: nowrap;
  pointer-events: none;
  scrollbar-color: #1e2022 #c9d6df;
  scrollbar-width: thin;
  // background-color: red;

  //   &::-webkit-scrollbar {
  //     width: 12px;
  //     // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  //   }
  //   &::-webkit-scrollbar-track {
  //     background: #c9d6df;
  //   }
  //   &::-webkit-scrollbar-thumb {
  //     background: #1e2022;
  //     // border: 1px solid $track;
  //     border-top: none;
  //     border-bottom: none;
  //     cursor: pointer;
  //   }
  //   &::-webkit-scrollbar-thumb:hover {
  //     background: #52616b;
  //   }
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
button,
textarea,
select {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.page {
  opacity: 0;
  visibility: hidden;
  transition: 1s ease-in-out;
}

.hide-page {
  opacity: 0 !important;
}
// .page-cnt {
//   height: 100vh;
//   background-color: red;
// }
// .test-box {
//   height: 600px;
//   background-color: black;
// }
