// OLD COLORS
$Cerulean: #0da0da;
$GoldenRod: #ffd369;
$BurningOrange: #ff6f3c;
$BrinkPink: #f85f73;
$EbonyClay: #222831;
$BrightGray: #393e46;
$Gallery: #eeeeee;

// NEW COLORS
$MulledWine: #48466d;
$Scampi: #645caa;
$RoyalPurple: #6639a6;
$Turquoise: #46cdcf;
$BostonBlue: #3d84a8;
$BahamaBlue: #07689f;
$GoldenRod: #ffd369;
