// Imports
@import "../../tools/mixins/mixins.scss";
@import "../../tools/themes/themes.scss";
@import "../../tools/variables/variable.scss";

// Font Families
@font-face {
  font-family: "Poppins Black";
  src: url("../../../fonts/Poppins-Black.ttf");
}
@font-face {
  font-family: "Poppins Bold";
  src: url("../../../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Lato Bold";
  src: url("../../../fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: "Lato Regular";
  src: url("../../../fonts/Lato-Regular.ttf");
}

// Desktop
// .dog_img {
//   max-width: 240px;
//   max-height: 120px;
// }

.adopt_top {
  height: 555px;
  @include displayElement(flex, center, center);
  text-align: center;
  margin-bottom: 50px;

  .adopt_top_cnt {
    h1 {
      white-space: pre-wrap;
      font-family: "Poppins Bold";
      font-size: $Heading;
      text-transform: uppercase;
      line-height: 40px;
      color: $EbonyClay;
      margin-bottom: 40px;

      span {
        color: $RoyalPurple;
      }
    }

    p {
      white-space: pre-wrap;
      font-family: "Lato Regular";
      font-size: $Text;
      color: $EbonyClay;
      margin-top: 20px;
      margin-bottom: 45px;
      @include quickCenter("relative");
      max-width: 890px;
    }

    .adopt_top_cnt_btns {
      width: 100%;
      max-width: 600px;
      @include quickCenter("relative");
      @include displayElement(flex, space-evenly, center);

      button {
        height: 45px;
        font-family: "Lato Bold";
        font-size: clamp(17px, 19px, 19px);
        background-color: $Scampi;
        color: $Gallery;
        width: 100%;

        &:hover {
          background-color: $RoyalPurple;
        }
      }

      .all_btn {
        max-width: 70px;
      }

      .available_btn {
        max-width: 120px;
      }

      .pending_btn {
        max-width: 110px;
      }

      .adopted_btn {
        max-width: 110px;
      }
    }
  }
}
.adopt_dogs {
  margin-bottom: 250px;
  position: relative;

  .adopt_dogs_inner {
    max-width: 1470px;
    @include quickCenter("relative");
    @include displayElement(flex, center, center);
    padding-left: 30px;
    padding-right: 30px;

    .adopt_dogs_inner_box {
      .adopt_dogs_inner_row {
        .adopt_dog {
          .adopt_dog_inner {
            max-width: 93%;
            @include quickCenter("relative");
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.168);
            border-radius: 10px;
            overflow: hidden;

            .adopt_dog_inner_bg_holder {
              height: 270px;
              width: 100%;

              .bg {
                @include bGSU(cover, center);
              }
            }

            .adopt_dog_inner_details {
              height: 320px;
              width: 100%;
              text-align: center;
              @include displayElement(flex, center, center);

              .adopt_dog_inner_details_cnt {
                .dog_name {
                  font-family: "Poppins Bold";
                  font-size: clamp(35px, 38px, 38px);
                  display: block;
                  color: $BahamaBlue;
                }

                .dog_breed {
                  display: block;
                  margin-top: 5px;
                  margin-bottom: 40px;
                  font-family: "Lato Bold";
                  font-size: clamp(21px, 21px, 21px);
                  opacity: 0.6;
                  color: $BostonBlue;
                }

                .dog_adoption_status_holder {
                  display: grid;
                  text-align: center;
                  margin-bottom: 30px;

                  .dog_adoption_status {
                    font-family: "Lato Bold";
                    font-size: clamp(21px, 21px, 21px);

                    .dog_adoption_status_top_text {
                      display: block;
                      font-size: clamp(16px, 16px, 16px);
                      margin-bottom: 5px;
                    }

                    .available {
                      color: $BostonBlue;
                    }

                    .pending {
                      color: $BostonBlue;
                    }

                    .adopted {
                      color: $BostonBlue;
                      text-decoration: line-through;
                    }
                  }
                }

                a {
                  width: 100%;
                  max-width: 65px;
                  height: 45px;
                  @include quickCenter("relative");
                  @include displayElement(flex, center, center);
                  color: $Gallery;
                  font-family: "Lato Bold";
                  font-size: $Link;
                  text-decoration: none;
                  background-color: $Scampi;

                  &:hover {
                    background-color: $RoyalPurple;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Responsive
@media all and (max-width: 1995px) {
  .adopt_top {
    height: 470px;

    .adopt_top_cnt {
      max-width: 700px;

      h1 {
        font-size: clamp(51px, 59px, 59px);
        line-height: 30px;
      }

      p {
        font-size: clamp(21px, 23px, 23px);
        max-width: 660px;
        @include quickCenter("relative");
      }
    }
  }
  .adopt_dogs {
    margin-bottom: 170px;

    .adopt_dogs_inner {
      max-width: 1200px;

      .adopt_dogs_inner_box {
        .adopt_dogs_inner_row {
          .adopt_dog {
            .adopt_dog_inner {
              max-width: 97%;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 991px) {
  .adopt_top {
    height: 470px;

    .adopt_top_cnt {
      max-width: 600px;

      h1 {
        font-size: clamp(3rem, 4vw, 4rem);
        line-height: 25px;
        max-width: 100%;
        @include quickCenter("relative");
      }

      p {
        font-size: clamp(19px, 21px, 21px);
        @include quickCenter("relative");
      }

      .adopt_top_cnt_btns {
        max-width: 250px;
        justify-content: space-around;
        flex-wrap: wrap;

        button {
          margin: 5px;
        }
      }
    }
  }
  .adopt_dogs {
    margin-bottom: 70px;

    .adopt_dogs_inner {
      max-width: 700px;

      .adopt_dogs_inner_box {
        .adopt_dogs_inner_row {
          .adopt_dog {
            margin-bottom: 40px;
            width: 100%;
            max-width: 50%;

            .adopt_dog_inner {
              max-width: 97%;

              .adopt_dog_inner_bg_holder {
                height: 190px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
}

// Desktop Window (Smallest)
@media all and (max-width: 768px) {
  .adopt_top {
    height: 510px;

    .adopt_top_cnt {
      max-width: 600px;

      h1 {
        font-size: clamp(2rem, 3vw, 3rem);
        line-height: 15px;
        max-width: 100%;
        @include quickCenter("relative");
      }

      p {
        font-size: clamp(17px, 19px, 19px);
        @include quickCenter("relative");
        max-width: 380px;
      }

      .adopt_top_cnt_btns {
        display: block;

        button {
          display: block;
          font-size: clamp(15px, 15px, 15px);
          @include quickCenter("relative");
          margin-bottom: 4px;
        }

        .all_btn {
          max-width: 60px;
        }

        .available_btn {
          max-width: 100px;
        }

        .pending_btn {
          max-width: 90px;
        }

        .adopted_btn {
          max-width: 90px;
        }
      }
    }
  }
  .adopt_dogs {
    margin-bottom: 70px;

    .adopt_dogs_inner {
      max-width: 400px;

      .adopt_dogs_inner_box {
        .adopt_dogs_inner_row {
          .adopt_dog {
            margin-bottom: 40px;
            width: 100%;
            max-width: 100%;

            &:last-child {
              margin-bottom: 0;
            }

            .adopt_dog_inner {
              max-width: 97%;

              .adopt_dog_inner_bg_holder {
                height: 180px;
              }

              .adopt_dog_inner_details {
                .adopt_dog_inner_details_cnt {
                  .dog_name {
                    font-size: clamp(23px, 25px, 25px);
                  }

                  .dog_breed {
                    font-size: clamp(15px, 17px, 17px);
                  }

                  a {
                    height: 40px;
                    max-width: 60px;
                    font-size: clamp(16px, 17px, 17px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Smaller Devices (Phones)
@media all and (max-width: 419px) {
  .adopt_top {
    height: 470px;
    margin-bottom: 0;

    .adopt_top_cnt {
      max-width: 80%;

      h1 {
        font-size: clamp(1.7rem, 2vw, 2rem);
        line-height: 15px;
        max-width: 100%;
        @include quickCenter("relative");
        margin-bottom: 30px;
      }

      p {
        font-size: clamp(15px, 17px, 17px);
        @include quickCenter("relative");
        max-width: 380px;
        margin-top: 0px;
        margin-bottom: 30px;
      }

      .adopt_top_cnt_btns {
        display: block;

        button {
          display: block;
          font-size: clamp(14px, 14px, 14px);
          @include quickCenter("relative");
          margin-bottom: 4px;
          height: 40px;
        }

        .all_btn {
          max-width: 50px;
        }

        .available_btn {
          max-width: 90px;
        }

        .pending_btn {
          max-width: 80px;
        }

        .adopted_btn {
          max-width: 80px;
        }
      }
    }
  }
  .adopt_dogs {
    margin-bottom: 50px;

    .adopt_dogs_inner {
      max-width: 400px;
      padding-left: 20px;
      padding-right: 20px;

      .adopt_dogs_inner_box {
        .adopt_dogs_inner_row {
          .adopt_dog {
            margin-bottom: 40px;
            width: 100%;
            max-width: 100%;

            &:last-child {
              margin-bottom: 0;
            }

            .adopt_dog_inner {
              max-width: 100%;

              .adopt_dog_inner_bg_holder {
                height: 180px;
              }

              .adopt_dog_inner_details {
                height: 260px;

                .adopt_dog_inner_details_cnt {
                  .dog_name {
                    font-size: clamp(23px, 25px, 25px);
                  }

                  .dog_breed {
                    font-size: clamp(15px, 17px, 17px);
                    margin-bottom: 23px;
                  }

                  .dog_adoption_status_holder {
                    .dog_adoption_status {
                      font-size: clamp(16px, 17px, 17px);
                    }
                  }

                  a {
                    @include quickCenter("relative");
                    height: 37px;
                    max-width: 50px;
                    font-size: clamp(14px, 15px, 15px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Pixel 2 XL
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .adopt_top {
    height: 240px;
    margin-bottom: 45px;

    .adopt_top_cnt {
      max-width: 100%;

      h1 {
        font-size: clamp(1.7rem, 2vw, 2rem);
        line-height: 15px;
        max-width: 100%;
        @include quickCenter("relative");
        margin-bottom: 30px;
      }

      p {
        font-size: clamp(15px, 16px, 16px);
        max-width: 410px;
        @include quickCenter("relative");
        margin-top: 10px;
        margin-bottom: 30px;
      }

      .adopt_top_cnt_btns {
        display: flex;
        max-width: 400px;

        button {
          display: block;
          font-size: clamp(14px, 14px, 14px);
          @include quickCenter("relative");
          margin-bottom: 4px;
          height: 40px;
        }

        .all_btn {
          max-width: 50px;
        }

        .available_btn {
          max-width: 90px;
        }

        .pending_btn {
          max-width: 80px;
        }

        .adopted_btn {
          max-width: 80px;
        }
      }
    }
  }
  .adopt_dogs {
    margin-bottom: 50px;

    .adopt_dogs_inner {
      max-width: 600px;
      padding-left: 20px;
      padding-right: 20px;

      .adopt_dogs_inner_box {
        .adopt_dogs_inner_row {
          .adopt_dog {
            margin-bottom: 20px;
            width: 100%;
            max-width: 33.33%;
            padding: 0;

            &:last-child {
              margin-bottom: 0;
            }

            .adopt_dog_inner {
              max-width: 93%;

              .adopt_dog_inner_bg_holder {
                height: 130px;
              }

              .adopt_dog_inner_details {
                height: 230px;

                .adopt_dog_inner_details_cnt {
                  .dog_name {
                    font-size: clamp(21px, 21px, 21px);
                  }

                  .dog_breed {
                    font-size: clamp(13px, 13px, 13px);
                    margin-bottom: 33px;
                  }

                  .dog_adoption_status_holder {
                    .dog_adoption_status {
                      font-size: clamp(15px, 15px, 15px);

                      .dog_adoption_status_top_text {
                        font-size: 12px;
                      }
                    }
                  }

                  a {
                    @include quickCenter("relative");
                    height: 32px;
                    max-width: 50px;
                    font-size: clamp(13px, 14px, 14px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .adopt_top {
    height: 350px;

    .adopt_top_cnt {
      max-width: 100%;

      h1 {
        font-size: clamp(32px, 34px, 34px);
        line-height: 18px;
        max-width: 300px;
        @include quickCenter("relative");
      }

      p {
        font-size: clamp(16px, 17px, 17px);
        max-width: 420px;
        @include quickCenter("relative");
        margin-top: 2px;
        margin-bottom: 30px;
      }

      .adopt_top_cnt_btns {
        display: flex;
        max-width: 450px;

        button {
          display: block;
          font-size: clamp(15px, 15px, 15px);
          @include quickCenter("relative");
          margin-bottom: 4px;
          height: 45px;
        }

        .all_btn {
          max-width: 60px;
        }

        .available_btn {
          max-width: 100px;
        }

        .pending_btn {
          max-width: 90px;
        }

        .adopted_btn {
          max-width: 90px;
        }
      }
    }
  }
  .adopt_dogs {
    margin-bottom: 50px;

    .adopt_dogs_inner {
      max-width: 720px;
      padding-left: 10px;
      padding-right: 10px;

      .adopt_dogs_inner_box {
        .adopt_dogs_inner_row {
          .adopt_dog {
            margin-bottom: 20px;
            width: 100%;
            max-width: 33.33%;
            padding: 0;

            &:last-child {
              margin-bottom: 0;
            }

            .adopt_dog_inner {
              max-width: 93%;

              .adopt_dog_inner_bg_holder {
                height: 130px;
              }

              .adopt_dog_inner_details {
                height: 260px;

                .adopt_dog_inner_details_cnt {
                  .dog_name {
                    font-size: clamp(23px, 23px, 23px);
                  }

                  .dog_breed {
                    font-size: clamp(15px, 15px, 15px);
                    margin-bottom: 33px;
                  }

                  .dog_adoption_status_holder {
                    .dog_adoption_status {
                      font-size: clamp(17px, 17px, 17px);

                      .dog_adoption_status_top_text {
                        font-size: 14px;
                      }
                    }
                  }

                  a {
                    @include quickCenter("relative");
                    height: 35px;
                    max-width: 60px;
                    margin-bottom: 0px;
                    font-size: clamp(15px, 15px, 15px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .adopt_top {
    height: 270px;

    .adopt_top_cnt {
      max-width: 100%;

      h1 {
        font-size: clamp(32px, 34px, 34px);
        line-height: 19px;
        max-width: 300px;
        @include quickCenter("relative");
      }

      p {
        font-size: clamp(16px, 17px, 17px);
        max-width: 450px;
        @include quickCenter("relative");
        margin-top: 10px;
        margin-bottom: 30px;
      }

      .adopt_top_cnt_btns {
        display: flex;
        max-width: 450px;

        button {
          display: block;
          font-size: clamp(15px, 15px, 15px);
          @include quickCenter("relative");
          margin-bottom: 4px;
          height: 45px;
        }

        .all_btn {
          max-width: 60px;
        }

        .available_btn {
          max-width: 100px;
        }

        .pending_btn {
          max-width: 90px;
        }

        .adopted_btn {
          max-width: 90px;
        }
      }
    }
  }
  .adopt_dogs {
    margin-bottom: 50px;

    .adopt_dogs_inner {
      max-width: 720px;
      padding-left: 20px;
      padding-right: 20px;

      .adopt_dogs_inner_box {
        .adopt_dogs_inner_row {
          .adopt_dog {
            margin-bottom: 20px;
            width: 100%;
            max-width: 33.33%;
            padding: 0;

            &:last-child {
              margin-bottom: 0;
            }

            .adopt_dog_inner {
              max-width: 93%;

              .adopt_dog_inner_bg_holder {
                height: 130px;
              }

              .adopt_dog_inner_details {
                height: 260px;

                .adopt_dog_inner_details_cnt {
                  .dog_name {
                    font-size: clamp(23px, 23px, 23px);
                  }

                  .dog_breed {
                    font-size: clamp(15px, 15px, 15px);
                    margin-bottom: 33px;
                  }

                  .dog_adoption_status_holder {
                    .dog_adoption_status {
                      font-size: clamp(17px, 17px, 17px);

                      .dog_adoption_status_top_text {
                        font-size: 14px;
                      }
                    }
                  }

                  a {
                    @include quickCenter("relative");
                    height: 35px;
                    max-width: 60px;
                    margin-bottom: 0px;
                    font-size: clamp(15px, 15px, 15px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .adopt_top {
    height: 360px;

    .adopt_top_cnt {
      max-width: 100%;

      h1 {
        font-size: clamp(35px, 37px, 37px);
        line-height: 20px;
        max-width: 455px;
        @include quickCenter("relative");
      }

      p {
        font-size: clamp(17px, 18px, 18px);
        max-width: 480px;
        @include quickCenter("relative");
        margin-top: 10px;
        margin-bottom: 30px;
      }

      .adopt_top_cnt_btns {
        display: flex;
        max-width: 450px;

        button {
          display: block;
          font-size: clamp(15px, 15px, 15px);
          @include quickCenter("relative");
          margin-bottom: 4px;
          height: 45px;
        }

        .all_btn {
          max-width: 60px;
        }

        .available_btn {
          max-width: 100px;
        }

        .pending_btn {
          max-width: 90px;
        }

        .adopted_btn {
          max-width: 90px;
        }
      }
    }
  }
  .adopt_dogs {
    margin-bottom: 110px;

    .adopt_dogs_inner {
      max-width: 860px;
      padding-left: 20px;
      padding-right: 20px;

      .adopt_dogs_inner_box {
        .adopt_dogs_inner_row {
          .adopt_dog {
            margin-bottom: 20px;
            width: 100%;
            max-width: 33.33%;
            padding: 0;

            &:last-child {
              margin-bottom: 0;
            }

            .adopt_dog_inner {
              max-width: 93%;

              .adopt_dog_inner_bg_holder {
                height: 160px;
              }

              .adopt_dog_inner_details {
                height: 285px;

                .adopt_dog_inner_details_cnt {
                  .dog_name {
                    font-size: clamp(26px, 26px, 26px);
                  }

                  .dog_breed {
                    font-size: clamp(18px, 18px, 18px);
                    margin-bottom: 33px;
                  }

                  .dog_adoption_status_holder {
                    .dog_adoption_status {
                      font-size: clamp(18px, 18px, 18px);

                      .dog_adoption_status_top_text {
                        font-size: 15px;
                      }
                    }
                  }

                  a {
                    @include quickCenter("relative");
                    height: 37px;
                    max-width: 66px;
                    margin-bottom: 0px;
                    font-size: clamp(16px, 16px, 16px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .adopt_top {
    height: 330px;

    .adopt_top_cnt {
      max-width: 100%;

      h1 {
        font-size: clamp(37px, 38px, 38px);
        line-height: 20px;
        max-width: 300px;
        @include quickCenter("relative");
      }

      p {
        font-size: clamp(17px, 18px, 18px);
        max-width: 480px;
        @include quickCenter("relative");
        margin-top: 10px;
        margin-bottom: 30px;
      }

      .adopt_top_cnt_btns {
        display: flex;
        max-width: 450px;

        button {
          display: block;
          font-size: clamp(15px, 15px, 15px);
          @include quickCenter("relative");
          margin-bottom: 4px;
          height: 45px;
        }

        .all_btn {
          max-width: 60px;
        }

        .available_btn {
          max-width: 100px;
        }

        .pending_btn {
          max-width: 90px;
        }

        .adopted_btn {
          max-width: 90px;
        }
      }
    }
  }
  .adopt_dogs {
    margin-bottom: 110px;

    .adopt_dogs_inner {
      max-width: 860px;
      padding-left: 20px;
      padding-right: 20px;

      .adopt_dogs_inner_box {
        .adopt_dogs_inner_row {
          .adopt_dog {
            margin-bottom: 20px;
            width: 100%;
            max-width: 33.33%;
            padding: 0;

            &:last-child {
              margin-bottom: 0;
            }

            .adopt_dog_inner {
              max-width: 93%;

              .adopt_dog_inner_bg_holder {
                height: 160px;
              }

              .adopt_dog_inner_details {
                height: 285px;

                .adopt_dog_inner_details_cnt {
                  .dog_name {
                    font-size: clamp(26px, 26px, 26px);
                  }

                  .dog_breed {
                    font-size: clamp(18px, 18px, 18px);
                    margin-bottom: 33px;
                  }

                  .dog_adoption_status_holder {
                    .dog_adoption_status {
                      font-size: clamp(18px, 18px, 18px);

                      .dog_adoption_status_top_text {
                        font-size: 15px;
                      }
                    }
                  }

                  a {
                    @include quickCenter("relative");
                    height: 37px;
                    max-width: 66px;
                    margin-bottom: 0px;
                    font-size: clamp(16px, 16px, 16px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Laptops
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .adopt_top {
    height: 370px;

    .adopt_top_cnt {
      max-width: 100%;

      h1 {
        font-size: clamp(45px, 46px, 46px);
        line-height: 23px;
        max-width: 400px;
        @include quickCenter("relative");
      }

      p {
        font-size: clamp(19px, 20px, 20px);
        max-width: 680px;
        @include quickCenter("relative");
        margin-top: 10px;
        margin-bottom: 30px;
      }

      .adopt_top_cnt_btns {
        display: flex;
        max-width: 450px;

        button {
          display: block;
          font-size: clamp(15px, 15px, 15px);
          @include quickCenter("relative");
          margin-bottom: 4px;
          height: 45px;
        }

        .all_btn {
          max-width: 60px;
        }

        .available_btn {
          max-width: 100px;
        }

        .pending_btn {
          max-width: 90px;
        }

        .adopted_btn {
          max-width: 90px;
        }
      }
    }
  }
  .adopt_dogs {
    margin-bottom: 110px;

    .adopt_dogs_inner {
      max-width: 1060px;
      padding-left: 20px;
      padding-right: 20px;

      .adopt_dogs_inner_box {
        .adopt_dogs_inner_row {
          .adopt_dog {
            margin-bottom: 20px;
            width: 100%;
            max-width: 33.33%;
            padding: 0;

            &:last-child {
              margin-bottom: 0;
            }

            .adopt_dog_inner {
              max-width: 93%;

              .adopt_dog_inner_bg_holder {
                height: 160px;
              }

              .adopt_dog_inner_details {
                height: 285px;

                .adopt_dog_inner_details_cnt {
                  .dog_name {
                    font-size: clamp(26px, 26px, 26px);
                  }

                  .dog_breed {
                    font-size: clamp(18px, 18px, 18px);
                    margin-bottom: 33px;
                  }

                  .dog_adoption_status_holder {
                    .dog_adoption_status {
                      font-size: clamp(18px, 18px, 18px);

                      .dog_adoption_status_top_text {
                        font-size: 15px;
                      }
                    }
                  }

                  a {
                    @include quickCenter("relative");
                    height: 37px;
                    max-width: 66px;
                    margin-bottom: 0px;
                    font-size: clamp(16px, 16px, 16px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
