// Imports
@import "../../tools/mixins/mixins.scss";
@import "../../tools/themes/themes.scss";
@import "../../tools/variables/variable.scss";

// Font Families
@font-face {
  font-family: "Poppins Black";
  src: url("../../../fonts/Poppins-Black.ttf");
}
@font-face {
  font-family: "Poppins Bold";
  src: url("../../../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Lato Bold";
  src: url("../../../fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: "Lato Regular";
  src: url("../../../fonts/Lato-Regular.ttf");
}

// Desktop
.index_top {
  height: 900px;
  position: relative;

  .bg {
    @include bGSU(cover, center left);
  }

  .index_top_overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    @include displayElement(flex, flex-start, center);

    .index_top_overlay_cnt {
      max-width: 1600px;
      width: 100%;
      @include quickCenter("relative");
      padding-left: 40px;
      padding-right: 40px;

      h1 {
        white-space: pre-wrap;
        font-family: "Poppins Bold";
        font-size: $MajorHeading;
        text-transform: uppercase;
        line-height: 100px;
        color: $Gallery;

        span {
          display: none;
        }
      }

      p {
        white-space: pre-wrap;
        font-family: "Lato Regular";
        font-size: $Text;
        color: $Gallery;
        margin-top: 20px;
        margin-bottom: 45px;
      }

      ul {
        @include displayElement(flex, space-between, center);
        max-width: 270px;

        li {
          a {
            width: 100%;
            height: 45px;
            @include displayElement(flex, center, center);
            color: $Gallery;
            font-family: "Lato Bold";
            font-size: $Link;
            text-decoration: none;
            background-color: $BurningOrange;

            &:hover {
              background-color: $BrinkPink;
            }
          }

          .about_link {
            width: 110px;
          }

          .adopt_link {
            width: 140px;
          }
        }
      }
    }
  }
}

// Responsive
@media all and (max-width: 1995px) {
  .index_top {
    height: 615px;

    .bg {
      background-position: center;
    }

    .index_top_overlay {
      justify-content: center;

      .index_top_overlay_cnt {
        text-align: left;
        padding-top: 0px;
        padding-left: 85px;
        padding-right: 85px;

        h1 {
          font-size: clamp(69px, 74px, 74px);
          line-height: 69px;
          max-width: 300px;
          @include quickCenter("relative");
          margin-left: 0;
        }

        p {
          font-size: clamp(21px, 23px, 23px);
          max-width: 460px;
          @include quickCenter("relative");
          margin-top: 10px;
          margin-bottom: 30px;
          margin-left: 0;
        }

        ul {
          display: flex;
          @include quickCenter("relative");
          margin-left: 0;
          max-width: 240px;

          li {
            a {
              @include quickCenter("relative");
              height: 45px;
              margin-bottom: 0px;
              font-size: clamp(17px, 18px, 18px);
            }

            .about_link {
              width: 100px;
            }

            .adopt_link {
              width: 124px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 991px) {
  .index_top {
    height: 630px;

    .bg {
      background-position: center;
    }

    .index_top_overlay {
      justify-content: center;

      .index_top_overlay_cnt {
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;

        h1 {
          font-size: clamp(4rem, 5vw, 5rem);
          line-height: 65px;
          max-width: 100%;
          @include quickCenter("relative");
        }

        p {
          font-size: clamp(21px, 23px, 23px);
          @include quickCenter("relative");
        }

        ul {
          @include quickCenter("relative");
        }
      }
    }
  }
}

@media (min-width: 992px) {
}

// Desktop Window (Smallest)
@media all and (max-width: 768px) {
  .index_top {
    height: 450px;

    .bg {
      background-position: center;
    }

    .index_top_overlay {
      justify-content: center;

      .index_top_overlay_cnt {
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;

        h1 {
          font-size: clamp(3rem, 3vw, 4rem);
          line-height: 45px;
        }

        p {
          font-size: clamp(17px, 18px, 18px);
          max-width: 300px;
          @include quickCenter("relative");
          margin-bottom: 30px;
        }

        ul {
          @include quickCenter("relative");
          max-width: 220px;

          li {
            a {
              height: 40px;
              font-size: clamp(16px, 17px, 17px);
            }

            .about_link {
              width: 90px;
            }

            .adopt_link {
              width: 117px;
            }
          }
        }
      }
    }
  }
}

// Smaller Devices (Phones)
@media all and (max-width: 419px) {
  .index_top {
    height: 420px;

    .bg {
      background-position: center;
    }

    .index_top_overlay {
      justify-content: center;

      .index_top_overlay_cnt {
        text-align: center;
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;

        h1 {
          font-size: clamp(26px, 30px, 30px);
          line-height: 30px;
          max-width: 300px;
        }

        p {
          font-size: clamp(15px, 16px, 16px);
          max-width: 80%;
          @include quickCenter("relative");
          margin-top: 10px;
          margin-bottom: 30px;
        }

        ul {
          display: block;
          @include quickCenter("relative");
          max-width: 220px;

          li {
            a {
              @include quickCenter("relative");
              height: 37px;
              margin-bottom: 15px;
              font-size: clamp(14px, 15px, 15px);
            }

            .about_link {
              width: 90px;
            }

            .adopt_link {
              width: 114px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

// Pixel 2 XL
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .index_top {
    height: 280px;

    .bg {
      background-position: center;
    }

    .index_top_overlay {
      justify-content: center;

      .index_top_overlay_cnt {
        text-align: left;
        padding-top: 20px;
        padding-left: 25px;
        padding-right: 25px;

        h1 {
          font-size: clamp(34px, 35px, 35px);
          line-height: 37px;
          max-width: 300px;
          @include quickCenter("relative");
          margin-left: 0;
        }

        p {
          font-size: clamp(15px, 16px, 16px);
          max-width: 320px;
          @include quickCenter("relative");
          margin-top: 10px;
          margin-bottom: 30px;
          margin-left: 0;
        }

        ul {
          display: flex;
          @include quickCenter("relative");
          margin-left: 0;
          max-width: 220px;

          li {
            a {
              @include quickCenter("relative");
              height: 37px;
              margin-bottom: 0px;
              font-size: clamp(14px, 15px, 15px);
            }

            .about_link {
              width: 90px;
            }

            .adopt_link {
              width: 114px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

// Ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .index_top {
    height: 480px;

    .bg {
      background-position: center;
    }

    .index_top_overlay {
      justify-content: center;

      .index_top_overlay_cnt {
        text-align: left;
        padding-top: 0px;
        padding-left: 45px;
        padding-right: 45px;

        h1 {
          font-size: clamp(46px, 48px, 48px);
          line-height: 47px;
          max-width: 300px;
          @include quickCenter("relative");
          margin-left: 0;
        }

        p {
          font-size: clamp(17px, 18px, 18px);
          max-width: 370px;
          @include quickCenter("relative");
          margin-top: 10px;
          margin-bottom: 30px;
          margin-left: 0;
        }

        ul {
          display: flex;
          @include quickCenter("relative");
          margin-left: 0;
          max-width: 240px;

          li {
            a {
              @include quickCenter("relative");
              height: 45px;
              margin-bottom: 0px;
              font-size: clamp(16px, 17px, 17px);
            }

            .about_link {
              width: 95px;
            }

            .adopt_link {
              width: 123px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .index_top {
    height: 385px;

    .bg {
      background-position: center;
    }

    .index_top_overlay {
      justify-content: center;

      .index_top_overlay_cnt {
        text-align: left;
        padding-top: 0px;
        padding-left: 45px;
        padding-right: 45px;

        h1 {
          font-size: clamp(46px, 48px, 48px);
          line-height: 47px;
          max-width: 300px;
          @include quickCenter("relative");
          margin-left: 0;
        }

        p {
          font-size: clamp(17px, 18px, 18px);
          max-width: 370px;
          @include quickCenter("relative");
          margin-top: 10px;
          margin-bottom: 30px;
          margin-left: 0;
        }

        ul {
          display: flex;
          @include quickCenter("relative");
          margin-left: 0;
          max-width: 230px;

          li {
            a {
              @include quickCenter("relative");
              height: 45px;
              margin-bottom: 0px;
              font-size: clamp(16px, 17px, 17px);
            }

            .about_link {
              width: 95px;
            }

            .adopt_link {
              width: 118px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

// iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .index_top {
    height: 475px;

    .bg {
      background-position: center;
    }

    .index_top_overlay {
      justify-content: center;

      .index_top_overlay_cnt {
        text-align: left;
        padding-top: 0px;
        padding-left: 45px;
        padding-right: 45px;

        h1 {
          font-size: clamp(55px, 57px, 57px);
          line-height: 55px;
          max-width: 300px;
          @include quickCenter("relative");
          margin-left: 0;
        }

        p {
          font-size: clamp(19px, 20px, 20px);
          max-width: 410px;
          @include quickCenter("relative");
          margin-top: 10px;
          margin-bottom: 30px;
          margin-left: 0;
        }

        ul {
          display: flex;
          @include quickCenter("relative");
          margin-left: 0;
          max-width: 240px;

          li {
            a {
              @include quickCenter("relative");
              height: 45px;
              margin-bottom: 0px;
              font-size: clamp(17px, 18px, 18px);
            }

            .about_link {
              width: 100px;
            }

            .adopt_link {
              width: 124px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .index_top {
    height: 475px;

    .bg {
      background-position: center;
    }

    .index_top_overlay {
      justify-content: center;

      .index_top_overlay_cnt {
        text-align: left;
        padding-top: 0px;
        padding-left: 45px;
        padding-right: 45px;

        h1 {
          font-size: clamp(55px, 57px, 57px);
          line-height: 55px;
          max-width: 300px;
          @include quickCenter("relative");
          margin-left: 0;
        }

        p {
          font-size: clamp(19px, 20px, 20px);
          max-width: 410px;
          @include quickCenter("relative");
          margin-top: 10px;
          margin-bottom: 30px;
          margin-left: 0;
        }

        ul {
          display: flex;
          @include quickCenter("relative");
          margin-left: 0;
          max-width: 240px;

          li {
            a {
              @include quickCenter("relative");
              height: 45px;
              margin-bottom: 0px;
              font-size: clamp(17px, 18px, 18px);
            }

            .about_link {
              width: 100px;
            }

            .adopt_link {
              width: 124px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

// Laptops
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .index_top {
    height: 535px;

    .bg {
      background-position: center;
    }

    .index_top_overlay {
      justify-content: center;

      .index_top_overlay_cnt {
        text-align: left;
        padding-top: 0px;
        padding-left: 85px;
        padding-right: 85px;

        h1 {
          font-size: clamp(69px, 74px, 74px);
          line-height: 69px;
          max-width: 300px;
          @include quickCenter("relative");
          margin-left: 0;
        }

        p {
          font-size: clamp(21px, 23px, 23px);
          max-width: 460px;
          @include quickCenter("relative");
          margin-top: 10px;
          margin-bottom: 30px;
          margin-left: 0;
        }

        ul {
          display: flex;
          @include quickCenter("relative");
          margin-left: 0;
          max-width: 240px;

          li {
            a {
              @include quickCenter("relative");
              height: 45px;
              margin-bottom: 0px;
              font-size: clamp(17px, 18px, 18px);
            }

            .about_link {
              width: 100px;
            }

            .adopt_link {
              width: 124px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
