// Imports
@import "../../tools/mixins/mixins.scss";
@import "../../tools/themes/themes.scss";
@import "../../tools/variables/variable.scss";

// Font Families
@font-face {
  font-family: "Poppins Black";
  src: url("../../../fonts/Poppins-Black.ttf");
}
@font-face {
  font-family: "Poppins Bold";
  src: url("../../../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Lato Bold";
  src: url("../../../fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: "Lato Regular";
  src: url("../../../fonts/Lato-Regular.ttf");
}

// Desktop
.dog_main {
  width: 100%;
  height: 100%;
  margin-top: 110px;
  margin-bottom: 185px;

  .dog_main_inner {
    height: 100%;
    width: 100%;
    max-width: 1600px;
    @include quickCenter("relative");

    .dog_id {
      text-align: center;
      display: block;
      font-family: "Lato Bold";
      font-size: clamp(14px, 15px, 15px);
      margin-bottom: 15px;
      opacity: 0.5;
    }

    .dog_main_inner_top_img_holder {
      height: 400px;
      width: 100%;
      max-width: 600px;
      @include quickCenter("relative");
      margin-bottom: 5px;
      position: relative;

      .bg {
        height: 400px;
        width: 100%;
        // background-image: url("https://raw.githubusercontent.com/mxrked/freelance_projects_CDN/main/animalarkofsummerlin/imgs/dogs/merlin-1.webp");
        @include bGSU(cover, center);
      }
    }

    .dog_main_inner_imgs_holder {
      position: relative;

      .dog_main_inner_imgs_holder_inner {
        width: 100%;
        max-width: 600px;
        @include quickCenter("relative");

        .dog_main_inner_imgs_holder_inner_row {
          .dog_main_inner_imgs_holder_inner_img {
            height: 120px;
            padding: 0;
            border: 3px solid white;
            position: relative;

            &:first-child {
              border-left: 0;
            }

            &:last-child {
              border-right: 0;
            }

            .bg {
              @include bGSU(cover, center);
            }

            button {
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              background-color: rgba(0, 0, 0, 0.4);
              @include displayElement(flex, center, center);
              color: $Gallery;
              font-size: clamp(20px, 21px, 21px);
            }
          }
        }
      }
    }

    .dog_main_inner_details {
      text-align: center;
      margin-top: 50px;
      height: 350px;
      @include displayElement(flex, center, center);

      .dog_main_inner_details_cnt {
        width: 100%;

        .dog_name {
          font-family: "Poppins Bold";
          font-size: clamp(35px, 38px, 38px);
          display: block;
          color: $BahamaBlue;
        }

        .dog_breed {
          display: block;
          margin-top: 5px;
          margin-bottom: 40px;
          font-family: "Lato Bold";
          font-size: clamp(21px, 21px, 21px);
          opacity: 0.6;
          color: $BostonBlue;
        }

        .dog_weight {
          display: block;
          font-size: clamp(18px, 19px, 19px);
          margin-bottom: 5px;
          font-family: "Lato Regular";
          margin-bottom: 25px;

          strong {
            font-weight: bold;
            opacity: 0.7;
            margin-right: 5px;
          }
        }

        p {
          display: block;
          font-size: clamp(18px, 19px, 19px);
          margin-bottom: 5px;
          font-family: "Lato Regular";
          white-space: pre-wrap;
          @include quickCenter("relative");
        }

        .dog_adoption_status_holder {
          display: grid;
          text-align: center;
          margin-top: 30px;
          margin-bottom: 30px;

          .dog_adoption_status {
            font-family: "Lato Bold";
            font-size: clamp(21px, 21px, 21px);

            .dog_adoption_status_top_text {
              display: block;
              font-size: clamp(16px, 16px, 16px);
              margin-bottom: 5px;
            }

            .available {
              color: $BostonBlue;
            }

            .pending {
              color: $BostonBlue;
            }

            .adopted {
              color: $BostonBlue;
              text-decoration: line-through;
            }
          }
        }

        button {
          width: 100%;
          max-width: 75px;
          height: 45px;
          @include quickCenter("relative");
          @include displayElement(flex, center, center);
          color: $Gallery;
          font-family: "Lato Bold";
          font-size: $Link;
          text-decoration: none;
          background-color: $Scampi;

          &:hover {
            background-color: $RoyalPurple;
          }
        }
      }
    }
  }
}

// Responsive
@media all and (max-width: 1995px) {
}

@media all and (max-width: 991px) {
  .dog_main {
    margin-top: 90px;
    margin-bottom: 120px;

    .dog_main_inner {
      padding-left: 30px;
      padding-right: 30px;

      .dog_main_inner_top_img_holder {
        height: 100%;
        max-width: 450px;

        .bg {
          height: 300px;
        }
      }

      .dog_main_inner_imgs_holder {
        .dog_main_inner_imgs_holder_inner {
          max-width: 450px;
        }
      }

      .dog_main_inner_details {
        height: 420px;

        .dog_main_inner_details_cnt {
          max-width: 500px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
}

// Desktop Window (Smallest)
@media all and (max-width: 768px) {
  .dog_main {
    margin-top: 60px;
    margin-bottom: 60px;

    .dog_main_inner {
      padding-left: 30px;
      padding-right: 30px;

      .dog_main_inner_top_img_holder {
        height: 100%;
        max-width: 340px;

        .bg {
          height: 230px;
        }
      }

      .dog_main_inner_imgs_holder {
        height: 100%;

        .dog_main_inner_imgs_holder_inner {
          max-width: 343px;

          .dog_main_inner_imgs_holder_inner_row {
            justify-content: space-evenly;

            .dog_main_inner_imgs_holder_inner_img {
              height: 80px;
              max-width: 50%;
              border: 2px solid white !important;
            }
          }
        }
      }

      .dog_main_inner_details {
        height: 420px;

        .dog_main_inner_details_cnt {
          max-width: 350px;

          .dog_name {
            font-size: clamp(31px, 32px, 32px);
          }

          .dog_breed {
            font-size: clamp(17px, 18px, 18px);
          }

          .dog_weight {
            font-size: clamp(16px, 17px, 17px);
          }

          p {
            font-size: clamp(16px, 17px, 17px);
          }

          .dog_adoption_status_holder {
            .dog_adoption_status {
              font-size: clamp(19px, 20px, 20px);

              .dog_adoption_status_top_text {
                font-size: clamp(13px, 14px, 14px);
              }
            }
          }
        }
      }
    }
  }
}

// Smaller Devices (Phones)
@media all and (max-width: 419px) {
  .dog_main {
    margin-top: 40px;
    margin-bottom: 40px;

    .dog_main_inner {
      padding-left: 30px;
      padding-right: 30px;

      .dog_main_inner_top_img_holder {
        height: 100%;
        max-width: 340px;

        .bg {
          height: 160px;
        }
      }

      .dog_main_inner_imgs_holder {
        height: 100%;

        .dog_main_inner_imgs_holder_inner {
          max-width: 343px;

          .dog_main_inner_imgs_holder_inner_row {
            justify-content: space-evenly;

            .dog_main_inner_imgs_holder_inner_img {
              height: 60px;
              max-width: 50%;
              border: 2px solid white !important;
            }
          }
        }
      }

      .dog_main_inner_details {
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 30px;

        .dog_main_inner_details_cnt {
          max-width: 250px;

          .dog_name {
            font-size: clamp(26px, 27px, 27px);
          }

          .dog_breed {
            font-size: clamp(15px, 16px, 16px);
          }

          .dog_weight {
            font-size: clamp(15px, 16px, 16px);
          }

          p {
            font-size: clamp(14px, 15px, 15px);
          }

          .dog_adoption_status_holder {
            .dog_adoption_status {
              font-size: clamp(16px, 17px, 17px);

              .dog_adoption_status_top_text {
                font-size: clamp(11px, 12px, 12px);
              }
            }
          }
        }
      }
    }
  }
}

// Pixel 2 XL
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .dog_main {
    margin-top: 10px;
    margin-bottom: 40px;

    .dog_main_inner {
      padding-left: 30px;
      padding-right: 30px;

      .dog_main_inner_top_img_holder {
        height: 100%;
        max-width: 310px;

        .bg {
          height: 190px;
        }
      }

      .dog_main_inner_imgs_holder {
        height: 100%;

        .dog_main_inner_imgs_holder_inner {
          max-width: 313px;

          .dog_main_inner_imgs_holder_inner_row {
            justify-content: space-evenly;

            .dog_main_inner_imgs_holder_inner_img {
              height: 60px;
              max-width: 50%;
              border: 2px solid white !important;
            }
          }
        }
      }

      .dog_main_inner_details {
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 30px;

        .dog_main_inner_details_cnt {
          max-width: 370px;

          .dog_name {
            font-size: clamp(26px, 27px, 27px);
          }

          .dog_breed {
            font-size: clamp(15px, 16px, 16px);
          }

          .dog_weight {
            font-size: clamp(15px, 16px, 16px);
          }

          p {
            font-size: clamp(14px, 15px, 15px);
          }

          .dog_adoption_status_holder {
            .dog_adoption_status {
              font-size: clamp(16px, 17px, 17px);

              .dog_adoption_status_top_text {
                font-size: clamp(11px, 12px, 12px);
              }
            }
          }
        }
      }
    }
  }
}

// Ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .dog_main {
    margin-top: 70px;
    margin-bottom: 80px;

    .dog_main_inner {
      padding-left: 30px;
      padding-right: 30px;

      .dog_main_inner_top_img_holder {
        height: 100%;
        max-width: 380px;

        .bg {
          height: 230px;
        }
      }

      .dog_main_inner_imgs_holder {
        height: 100%;

        .dog_main_inner_imgs_holder_inner {
          max-width: 383px;

          .dog_main_inner_imgs_holder_inner_row {
            justify-content: space-evenly;

            .dog_main_inner_imgs_holder_inner_img {
              height: 80px;
              max-width: 50%;
              border: 2px solid white !important;
            }
          }
        }
      }

      .dog_main_inner_details {
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 30px;

        .dog_main_inner_details_cnt {
          max-width: 370px;

          .dog_name {
            font-size: clamp(34px, 35px, 35px);
          }

          .dog_breed {
            font-size: clamp(18px, 19px, 19px);
          }

          .dog_weight {
            font-size: clamp(17px, 18px, 18px);
          }

          p {
            font-size: clamp(16px, 17px, 17px);
          }

          .dog_adoption_status_holder {
            .dog_adoption_status {
              font-size: clamp(20px, 21px, 21px);

              .dog_adoption_status_top_text {
                font-size: clamp(12px, 13px, 13px);
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .dog_main {
    margin-top: 40px;
    margin-bottom: 50px;

    .dog_main_inner {
      padding-left: 30px;
      padding-right: 30px;

      .dog_main_inner_top_img_holder {
        height: 100%;
        max-width: 330px;

        .bg {
          height: 190px;
        }
      }

      .dog_main_inner_imgs_holder {
        height: 100%;

        .dog_main_inner_imgs_holder_inner {
          max-width: 333px;

          .dog_main_inner_imgs_holder_inner_row {
            justify-content: space-evenly;

            .dog_main_inner_imgs_holder_inner_img {
              height: 60px;
              max-width: 50%;
              border: 2px solid white !important;
            }
          }
        }
      }

      .dog_main_inner_details {
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 30px;

        .dog_main_inner_details_cnt {
          max-width: 310px;

          .dog_name {
            font-size: clamp(29px, 30px, 30px);
          }

          .dog_breed {
            font-size: clamp(16px, 17px, 17px);
          }

          .dog_weight {
            font-size: clamp(15px, 16px, 16px);
          }

          p {
            font-size: clamp(15px, 16px, 16px);
          }

          .dog_adoption_status_holder {
            .dog_adoption_status {
              font-size: clamp(19px, 20px, 20px);

              .dog_adoption_status_top_text {
                font-size: clamp(12px, 13px, 13px);
              }
            }
          }
        }
      }
    }
  }
}

// iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .dog_main {
    margin-top: 70px;
    margin-bottom: 80px;

    .dog_main_inner {
      padding-left: 30px;
      padding-right: 30px;

      .dog_main_inner_top_img_holder {
        height: 100%;
        max-width: 380px;

        .bg {
          height: 230px;
        }
      }

      .dog_main_inner_imgs_holder {
        height: 100%;

        .dog_main_inner_imgs_holder_inner {
          max-width: 383px;

          .dog_main_inner_imgs_holder_inner_row {
            justify-content: space-evenly;

            .dog_main_inner_imgs_holder_inner_img {
              height: 80px;
              max-width: 50%;
              border: 2px solid white !important;
            }
          }
        }
      }

      .dog_main_inner_details {
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 30px;

        .dog_main_inner_details_cnt {
          max-width: 370px;

          .dog_name {
            font-size: clamp(34px, 35px, 35px);
          }

          .dog_breed {
            font-size: clamp(18px, 19px, 19px);
          }

          .dog_weight {
            font-size: clamp(17px, 18px, 18px);
          }

          p {
            font-size: clamp(16px, 17px, 17px);
          }

          .dog_adoption_status_holder {
            .dog_adoption_status {
              font-size: clamp(20px, 21px, 21px);

              .dog_adoption_status_top_text {
                font-size: clamp(12px, 13px, 13px);
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .dog_main {
    margin-top: 70px;
    margin-bottom: 80px;

    .dog_main_inner {
      padding-left: 30px;
      padding-right: 30px;

      .dog_main_inner_top_img_holder {
        height: 100%;
        max-width: 380px;

        .bg {
          height: 230px;
        }
      }

      .dog_main_inner_imgs_holder {
        height: 100%;

        .dog_main_inner_imgs_holder_inner {
          max-width: 383px;

          .dog_main_inner_imgs_holder_inner_row {
            justify-content: space-evenly;

            .dog_main_inner_imgs_holder_inner_img {
              height: 80px;
              max-width: 50%;
              border: 2px solid white !important;
            }
          }
        }
      }

      .dog_main_inner_details {
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 30px;

        .dog_main_inner_details_cnt {
          max-width: 370px;

          .dog_name {
            font-size: clamp(34px, 35px, 35px);
          }

          .dog_breed {
            font-size: clamp(18px, 19px, 19px);
          }

          .dog_weight {
            font-size: clamp(17px, 18px, 18px);
          }

          p {
            font-size: clamp(16px, 17px, 17px);
          }

          .dog_adoption_status_holder {
            .dog_adoption_status {
              font-size: clamp(20px, 21px, 21px);

              .dog_adoption_status_top_text {
                font-size: clamp(12px, 13px, 13px);
              }
            }
          }
        }
      }
    }
  }
}

// Laptops
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .dog_main {
    margin-top: 70px;
    margin-bottom: 90px;

    .dog_main_inner {
      padding-left: 30px;
      padding-right: 30px;

      .dog_main_inner_top_img_holder {
        height: 100%;
        max-width: 430px;

        .bg {
          height: 280px;
        }
      }

      .dog_main_inner_imgs_holder {
        height: 100%;

        .dog_main_inner_imgs_holder_inner {
          max-width: 433px;

          .dog_main_inner_imgs_holder_inner_row {
            justify-content: space-evenly;

            .dog_main_inner_imgs_holder_inner_img {
              height: 80px;
              max-width: 50%;
              border: 2px solid white !important;
            }
          }
        }
      }

      .dog_main_inner_details {
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 30px;

        .dog_main_inner_details_cnt {
          max-width: 570px;

          .dog_name {
            font-size: clamp(34px, 35px, 35px);
          }

          .dog_breed {
            font-size: clamp(18px, 19px, 19px);
          }

          .dog_weight {
            font-size: clamp(17px, 18px, 18px);
          }

          p {
            font-size: clamp(16px, 17px, 17px);
          }

          .dog_adoption_status_holder {
            .dog_adoption_status {
              font-size: clamp(20px, 21px, 21px);

              .dog_adoption_status_top_text {
                font-size: clamp(12px, 13px, 13px);
              }
            }
          }
        }
      }
    }
  }
}
