@font-face {
  font-family: "Lato Bold";
  src: url("../../../fonts/Lato-Bold.ttf");
}

.full-second {
  transition: 1s ease-in-out !important;
}

.half-second {
  transition: 0.5s ease-in-out !important;
}

.stay-put {
  // transform: translateX(0) !important;
  transition: 0s ease-in-out !important;
  opacity: 1 !important;
}

.selected {
  &::selection {
    color: #eeeeee;
    background-color: #6639a6;
    // background-color: #0da0da;
    //   background-color: #e5305b;
    // background-color: #f27d24;
  }

  &::-moz-selection {
    color: #eeeeee;
    background-color: #6639a6;
    // background-color: #0da0da;
    //   background-color: #e5305b;
    // background-color: #f27d24;
  }
}

.adopt-hint {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "Lato Bold";
  font-size: 18px;
}
